# Variables

In [3]:
#assigning a value to 'a' varible
a = 10.0
a

10.0

In [4]:
type(a)

float

In [6]:
#assigning different values for a same variable
a = {1,2,2,2,2,2,2,2,2}
a

{1, 2}

In [7]:
type(a)

set

In [10]:
#example for replacing the values,
num = 10
num = 25.6
num = 'python'
num

'python'

In [11]:
type(num)

str

In [12]:
#decalaring and assignment 
your_name = "Premanand"
your_name

'Premanand'

In [13]:
value = '10@a'
value
type(value)

str

In [14]:
#assigning multiple values to multiple variables
a, b, c, d = 5, 10.2, 5+2j, 'welcome'
a,b,c,d

(5, 10.2, (5+2j), 'welcome')

In [15]:
#assigning multiple variables to same value
e = f = g = '202'
e,f,g

('202', '202', '202')

# Constants

In [16]:
#for importing constant values
import math

In [17]:
#printing pi value from math library
print(math.pi)

3.141592653589793

In [18]:
#print eulers constant
print(math.e)

2.718281828459045

In [ ]:
def piw_val():
    PIW = 5874985729475923.78475247985724 #constant 
    num1 = 5 #variable
    area = PIW*num1
    print(area)

# Literals

In [19]:
a = 0b1000 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2 #1.5*10^2

#Complex Literal 
x = 3.14j #real and imaginary no

print(a, b, c, d)
print(float_1, float_2)
print(x, x.imag, x.real)

8 100 200 300
10.5 150.0
3.14j 3.14 0.0

In [20]:
strings = 'happy new year 2024'
char = "123456789"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\u00dcnic\u00f6de"
raw_str = r"raw \n string"

print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

happy new year 2024
123456789
This is a multiline string with more than one line code.
Ünicöde
raw \n string

In [24]:
a = 'happynewyear2024'
a

'happynewyear2024'