# print() function

In [ ]:
#Format for print inbuilt in function 
#print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)

In [2]:
print('hfkdhjh2635873685!!@@#$%%%')

hfkdhjh2635873685!!@@#$%%%

In [3]:
#to print the simple sentence
print("hey hi, can you able to see my sentence?!")

hey hi, can you able to see my sentence?!

In [4]:
#another way to assign the values and print
name = 'python'
print('what is the programming language that we are learning?',name)

what is the programming language that we are learning? python

In [7]:
#different statements with print function parameters
print(2,5.0,3+6j, 5468)
print(2,5.0,3+6j, 5468, sep='*')
print(2,5.0,3+6j, 5468, sep='#', end='%')

2 5.0 (3+6j) 5468
2*5.0*(3+6j)*5468
2#5.0#(3+6j)#5468%

# print() - modification

In [8]:
#{} act as placeholders
son = 'Nikhilesh'; daughter = 'Krithiksha'
print('My childrens name are as follows, son name is {} and daughter name is {}'.format(son,daughter))

My childrens name are as follows, son name is Nikhilesh and daughter name is Krithiksha

In [9]:
#{} act as placeholders
son = 'Nikhilesh'; daughter = 'Krithiksha'
print('My childrens name are as follows, son name is {} and daughter name is {}'.format(daughter,son))

My childrens name are as follows, son name is Krithiksha and daughter name is Nikhilesh

In [10]:
#another way of modifications are by inserting index of tuple datatype
print('I love my {0} and {1}'.format('bhubhu','pinky'))
print('I love my {1} and {0}'.format('bhubhu','pinky'))

I love my bhubhu and pinky
I love my pinky and bhubhu

In [11]:
#another way of modification are as
print('Hello {name}, {greeting} welcome to my class'.format(greeting = 'Goodevening', name = 'rajasekar'))

Hello rajasekar, Goodevening welcome to my class

In [14]:
#modifications with numbers
my_acc = 95.864975 
print('The accuracy of my experiment is %0.3f' %my_acc)

The accuracy of my experiment is 95.865

# Input()

In [ ]:
#format for input function
#input([prompt])

In [15]:
ask_name = input('What is your name?')

What is your name?Premanand

In [17]:
type(ask_name)

str

In [16]:
age = input('What is your age?') #''""

What is your age?38

In [18]:
type(age)

str

In [19]:
print(age) # 38 '38'

38

In [20]:
age+2 #'38'+2 //////38+2

TypeError: can only concatenate str (not "int") to str

In [21]:
age_num = input('what is your age?')

what is your age?38

In [22]:
type(age_num)

str

In [23]:
age_num

'38'

In [24]:
age_num = int(input('what is your age?')) #to get the value as numbers instead of strings, you can use float also

what is your age?38

In [25]:
age_num

38

In [26]:
type(age_num)

int

In [27]:
age_num = float(input('what is your age?')) #to get the value as numbers instead of strings, you can use float also

what is your age?38

In [28]:
age_num

38.0

In [29]:
type(age_num)

float

In [30]:
age_num = float(input('what is your name?')) #to get the value as numbers instead of strings, you can use float also

what is your name?Premanand

ValueError: could not convert string to float: 'Premanand'

# Import

In [31]:
#simple module
import math

In [32]:
#for pi value
print(math.pi)

3.141592653589793

In [33]:
#for eulers number
print(math.e)

2.718281828459045

In [34]:
#natural logarithm of a given number
number = 10e-2  # small value of of x    
print('log(fabs(x), base) is :', math.log(math.fabs(number), 10))

log(fabs(x), base) is : -0.9999999999999998

In [35]:
#returns base 10 logarithm of the given number and called the standard logarithm
x=10  # small value of of x    
print('log10(x) is :', math.log10(x))

log10(x) is : 1.0

In [36]:
#returns a floating-point number after raising e to the given number
number = 5e-2  # small value of of x    
print('The given number (x) is :', number)    
print('e^x (using exp() function) is :', math.exp(number)-1)

The given number (x) is : 0.05
e^x (using exp() function) is : 0.05127109637602412

In [37]:
#returns the power of the x corresponding to the value of y. 
#If value of x is negative or y is not integer value than it raises a ValueError.
number = math.pow(10,2)  
print("The power of number:",number)

The power of number: 100.0

In [38]:
#returns the floor value of the x. It returns the less than or equal value to x.
number = math.floor(10.25201)  
print("The floor value is:",number)

The floor value is: 10

In [39]:
#returns the fractional and integer parts of x. It carries the sign of x is float
number = math.modf(44.5)  
print("The modf of number:",number)

The modf of number: (0.5, 44.0)

In [40]:
#method returns the factorial of the given number x. 
#If x is not integral, it raises a ValueError
number = math.factorial(2)  
print("The factorial of number:",number)

The factorial of number: 2

In [41]:
#our very own system specification
import sys
sys.path

['C:\\Users\\S.A.N\\Downloads\\Python - Own Material\\2 Basics of Python\\16 Python - print, input and import',
 'C:\\Users\\S.A.N\\anaconda3\\python311.zip',
 'C:\\Users\\S.A.N\\anaconda3\\DLLs',
 'C:\\Users\\S.A.N\\anaconda3\\Lib',
 'C:\\Users\\S.A.N\\anaconda3',
 '',
 'C:\\Users\\S.A.N\\AppData\\Roaming\\Python\\Python311\\site-packages',
 'C:\\Users\\S.A.N\\anaconda3\\Lib\\site-packages',
 'C:\\Users\\S.A.N\\anaconda3\\Lib\\site-packages\\win32',
 'C:\\Users\\S.A.N\\anaconda3\\Lib\\site-packages\\win32\\lib',
 'C:\\Users\\S.A.N\\anaconda3\\Lib\\site-packages\\Pythonwin']